body {
    margin: 0;
    background-color: rgb(246, 250, 255);
}

header {
    position: sticky;
    top: 0em;
    background-color:ghostwhite;
    border-radius: 0px 0px 20px 20px;
    border-bottom: solid;
    border-bottom-color: lightgray;
    z-index: 1;
}

.label-main {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em 1em;
}

h1, h2, h3, h4, p, li, article, address, summary {
    font-family: monospace;
}

h1 {
    font-size: 72pt;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28pt;
}

h4 {
    font-size: 22pt;
    padding-left: 1em;
    padding-top: 1em;
    border-bottom: solid;
    border-color: lightgray;
    margin: 0 0.5em 0.5em;
}

p, ol {
    font-size: 16pt;
    padding: 0 1em;
    text-align: justify;
}

code {
    border: 1px solid gray;
    border-radius: 1em;
    padding: 0 0.5em;
}

ol {
    margin-left: 1.5em;
}

details {
    border: 2px solid lightgray;
    border-radius: 1em;
    padding: 1em;
    background-color: ghostwhite;
}

summary {
    font-size: 12pt;
}

summary::marker {
    color: lightgray;
}

:where(details) p {
    font-size: 13pt;
    padding: 0 0.5em;
    border-top: 1px solid lightgray;
    padding-top: 0.5em;
    margin: 0.5em;
}

nav {
    padding: 1em;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.label {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 1em;
}

.download-buttons {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    min-width: max-content;
}

:where(.download-buttons) {
    min-width: max-content;
    min-height: 40px;
}

#label-icon {
    max-width: 3em;
}

#label-text {
    margin: 0;
    align-self: center;
}

main {
    padding: 3em 10em;
}

#label-big {
    justify-items: end;
    text-align: end;
    text-wrap-style: balance;
    padding: 2em;
}

#label-big-text {
    margin-block: 0;
}

.main-text {
    display: grid;
}

/* .block-text {
    animation-name: appear;
    animation-timeline: view();
}

@keyframes appear {
    from {
        filter:opacity(0)

    }
    35% {
        filter: opacity(0);
        padding-top: 10%;
    }
    45% {
        filter: opacity(1);
        padding-top: 0;
    }
} */

.advantages {
    margin-left: 1em;
    font-size: 16pt;
}

:where(.advantages) li::marker {
    content: "\2713\ ";
    font-size: 20pt;
    color: green;
}

.screenshots-paragraph {
    padding: 0 2em;
    display: flex;
    gap: 10px;
    max-width: 70%;
}

.screenshots-button {
    padding: 0;
    border: 0;
}

.screenshots-images {
    padding: 0;
    max-width: 100%;
    border: 1px solid lightgray;
    border-radius: 1em;
}

:hover.screenshots-images {
    filter: brightness(0.75);
    cursor: zoom-in;
}

.download-instructions {
    display: flex;
}

footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: ghostwhite;
    border-radius: 20px 20px 0px 0px;
    border-top: solid;
    border-top-color: lightgray;
    padding: 1em 2em;
}

article {
    font-size: 14px;
    color: gray;
}

address {
    font-size: 16px;
    text-align: right;
}

dialog {
    max-height: 80%;
    max-width: 80%;
}

#dialogImage {
    max-height: 83%;
    max-width: 83%;
    border-radius: 1em;
    justify-self: center;
}

dialog#fullscreen {
    border: 0;
    background-color: #00000000;
    overflow: hidden;
}

#img-outer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

form {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    padding: 1em;
    max-width: max-content;
    max-height: max-content;
}

button[type="submit"] {
    position: absolute;
    justify-self: right;
}

#button-previous {
    position: relative;
    justify-self: left;
}

#button-next {
    position: relative;
    justify-self: right;
}

:where(form) button {
    color: white;
    border-radius: 1em;
    background-color: #000000c0;
    font-size: larger;
}

:where(form) button:hover {
    color: lightgray;
}