@media screen and (max-width: 980px) {
    #main {
        padding: 2%;
    }

    h1#label-big-text {
        font-size: 10vmax;
    }

    h2#label-big-text {
        font-size: 4vmax;
    }

    #label-big {
        padding: 1%;
    }

    .paragraphs-columns {
        display: block;
    }

    .screenshots-paragraph {
        margin-bottom: 2em;
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }

    th, tr {
        font-size: 2.5vmax;
    }

    nav h3 {
        font-size: 5vmax;
    }

    address {
        overflow-wrap: anywhere;
    }
}

@media screen and (max-width: 600px) {
    h4 {
        font-size: 3vmax;
        padding-left: 2%;
    }

    p, ol, summary {
        font-size: 14pt;
    }

    .label-main {
        grid-auto-flow: row;
        justify-items: center;
    }

    #label-big {
        justify-items: center;
        text-align: center;
    }

    .download-instructions {
        display: block;
    }

    footer {
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 500px) {
    #label-text {
        font-size: 0;
    }

    h1#label-big-text {
        font-size: 7vmax;
    }

    h2#label-big-text {
        font-size: 3vmax;
    }

    :where(.label-main) img {
        max-width: 50%;
    }
}

@media screen and (max-width: 350px) {
    #label-icon {
        max-width: 0;
    }

    .label {
        max-width: 0;
    }

    nav {
        justify-content: center;
    }
}